# Dependencies
**/node_modules

# Build
/build/
/packages/*/build/
/packages/*/dist/
/packages/*/lib/
/fixtures/*/build/
/fixtures/*/dist/
/fixtures/*/lib/
/scripts/*/build/
/scripts/*/lib/

# Yarn
.yarn/*
.pnp.*

# Exceptions
/packages/legend-dev-utils/__tests__/fixtures/src/dummy.ts
