# OS
.DS_STORE
*.swp
*~
[Dd]esktop.ini
Thumbs.db

# IDE
.idea
**/*.iml
/target/
**/jsconfig.json
.settings
.project
.classpath

# Build
npm-debug.log
npm-debug.log*
yarn-error.log*
/build/
/packages/*/build/
/packages/*/dist/
/packages/*/lib/
/fixtures/*/build/
/fixtures/*/dist/
/fixtures/*/lib/
/scripts/*/build/
/scripts/*/lib/

# Dependencies
**/node_modules

# Enforce using Yarn instead of NPM for installation
package-lock.json

# Development
/temp
/packages/*/dev/
/fixtures/*/dev/

# Yarn
# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/constraints.pro
.pnp.*
