# This line does two things:
# - enable git's CRLF -> LF modification
# - tell git to guess whether files are text or binary
*                                             text=auto eol=lf

# Mark as binary to prevent git from trying to merge it
*.ico                                         binary
*.png                                         binary

# Set the language for these files to json5 to ensure GitHub doesn't show the comments as errors
/.vscode/*.json                               linguist-language=jsonc
**/tsconfig.json                              linguist-language=jsonc
**/tsconfig.*.json                            linguist-language=jsonc
**/typedoc.json                               linguist-language=jsonc
**/typedoc.*.json                             linguist-language=jsonc

# Hide .yarn and docs from GitHub's language detection
/.yarn/**                                     linguist-vendored
/docs/**                                      linguist-documentation
/website/**                                   linguist-documentation

# Mark generated content
/.changeset                                   linguist-generated

# Read more about Github blob languages detector `github/linguist`
# https://github.com/github/linguist/blob/master/docs/overrides.md
