# Build
/build/
/packages/*/build/
/packages/*/dist/
/packages/*/lib/
/packages/*/dev/
/fixtures/*/build/
/fixtures/*/dist/
/fixtures/*/lib/
/fixtures/*/dev/

# Yarn
.yarn/*
.pnp.*

# Exceptions
/packages/legend-dev-utils/__tests__/fixtures/testTsConfigWithTrailingCommas.json

# Template config JSON with variable ($)
/packages/legend-application-*-deployment/docker/*.json
