# Build
/build/
/packages/*/build/
/packages/*/dist/
/packages/*/lib/
/packages/*/dev/

# Yarn
.yarn/*
.pnp.*

# Exceptions
/packages/legend-studio-dev-utils/__tests__/fixtures/testTsConfigWithTrailingCommas.json
