# See https://odp.finos.org/docs/development-infrastructure/code-validation/whitesource
# See https://whitesource.atlassian.net/wiki/spaces/WD/pages/697696422/WhiteSource+for+GitHub.com
# See https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

# npm.includeDevDependencies=false
# npm.runPreStep=false
npm.yarnProject=true
resolveAllDependencies=false
npm.resolveDependencies=true
maven.resolveDependencies=true

# checkPolicies=false
# forceCheckAllDependencies=false
# forceUpdate=false
# forceUpdate.failBuildOnPolicyViolation=forceCheckAllDependencies

# case.sensitive.glob=false
# followSymbolicLinks=true