# Whitesource Unified Agent Config for Github integration
#
# Note that all changes to this config or .whitesource have to be merged to the default
# branch (i.e. master/main) to take effect.
#
# See https://odp.finos.org/docs/development-infrastructure/code-validation/whitesource
# See https://whitesource.atlassian.net/wiki/spaces/WD/pages/697696422/WhiteSource+for+GitHub.com
# See https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

# Force Whitesource to resolve dependencies using `yarn.lock` so it doesn't have to run `npm install`
# which takes a long time and results in many false positives
npm.yarnProject=true

# Only scan dependencies for NPM
resolveAllDependencies=false
npm.resolveDependencies=true
