###############################################################
# WhiteSource Unified-Agent configuration file
# See https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters
###############################################################

# npm.includeDevDependencies=false
# npm.runPreStep=true
npm.yarnProject=true
# npm.yarn.frozenLockfile=true
