version: 2.1

aliases:
  - &docker
    - image: cimg/node:16.15

  - &environment
    TZ: /usr/share/zoneinfo/UTC

  - &restore_yarn_cache
    restore_cache:
      name: Restore Yarn cache
      key: yarn-packages-{{ checksum "yarn.lock" }}

  - &restore_node_modules
    restore_cache:
      name: Restore node_modules cache
      keys:
        - v2-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}-node-modules

  - &attach_workspace
    at: build

jobs:
  setup:
    docker: *docker
    environment: *environment
    steps:
      - checkout
      - run:
          name: Nodejs Version
          command: node --version
      - *restore_yarn_cache
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      - save_cache:
          # Store the yarn cache and node_modules globally for all lock files with this same
          # checksum. This will speed up the setup job for all PRs where the
          # lockfile is the same.
          name: Save Yarn cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache
            - .yarn/unplugged
            # It's recommended to not cache node_modules in CI in general
            # See https://github.com/actions/cache/blob/main/examples.md#node---npm
            - node_modules
      - save_cache:
          # Store node_modules for all jobs in this workflow so that they don't
          # need to each run a yarn install for each job. This will speed up
          # all jobs run on this branch with the same lockfile.
          name: Save node_modules cache
          # This cache key is per branch, a yarn install in setup is required.
          key: v2-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}-node-modules
          paths:
            - node_modules

  yarn_lint:
    docker: *docker
    environment: *environment
    resource_class: large
    steps:
      - checkout
      - *restore_node_modules
      - run:
          name: Check typings
          command: yarn check:ts
      - run:
          name: Run lint
          command: yarn lint:ci

workflows:
  version: 2

  # New workflow that will replace "stable" and "experimental"
  build_and_test:
    jobs:
      - setup
      - yarn_lint:
          requires:
            - setup
