name: Changeset

# NOTE: changeset validation only makes sense in PR pipeline
on:
  pull_request:
    branches:
      - '**'

jobs:
  check-changeset:
    name: Validate Changesets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0 # needed to validate changeset
      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - name: Setup Yarn cache
        uses: actions/cache@v2.1.6
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Setup Node
        uses: actions/setup-node@v2.3.0
        with:
          node-version: 14.x
      - name: Install dependencies
        run: yarn
      - name: Validate changesets
        run: yarn check:changeset
