name: Docker

# NOTE: this job does not scan for the latest image published on Docker Hub
# We might need to use some other tools such as http://snyk.io/ to monitor
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  check-docker-image-studio:
    name: Run Image Checks (@finos/legend-studio-deployment)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - name: Setup Yarn cache
        uses: actions/cache@v2.1.6
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Setup Node
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14.x
      - name: Install dependencies
        run: yarn
      - name: Build image
        run: yarn workspace @finos/legend-studio-deployment build-dry:docker ${{ github.sha }}
      - name: Scan image for security issues
        uses: Azure/container-scan@v0
        env:
          # Skip `won't fix` CVEs
          # See https://github.com/Azure/container-scan/issues/61
          TRIVY_IGNORE_UNFIXED: true
        with:
          image-name: local/legend-studio:${{ github.sha }}
          severity-threshold: CRITICAL
  check-docker-image-query:
    name: Run Image Checks (@finos/legend-query-deployment)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - name: Setup Yarn cache
        uses: actions/cache@v2.1.6
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Setup Node
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14.x
      - name: Install dependencies
        run: yarn
      - name: Build image
        run: yarn workspace @finos/legend-query-deployment build-dry:docker ${{ github.sha }}
      - name: Scan image for security issues
        uses: Azure/container-scan@v0
        env:
          # Skip `won't fix` CVEs
          # See https://github.com/Azure/container-scan/issues/61
          TRIVY_IGNORE_UNFIXED: true
        with:
          image-name: local/legend-query:${{ github.sha }}
          severity-threshold: CRITICAL
