name: Docker Snapshot

on:
  push:
    branches:
      - master

jobs:
  publish-snapshot-docker-image:
    if: github.ref == 'refs/heads/master' && github.repository == 'finos/legend-studio'
    name: Publish Snapshot Docker Image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: finos/legend-studio
            package: '@finos/legend-studio-deployment'
          - image: finos/legend-query
            package: '@finos/legend-query-deployment'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - name: Setup Yarn cache
        uses: actions/cache@v2.1.6
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 14.x
      - name: Install dependencies
        run: yarn
      - name: Build modules
        run: yarn build
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: finos
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish snapshot to Docker
        run: yarn workspace ${{ matrix.package }} publish:docker snapshot
        env:
          # TODO: After https://github.com/finos/legend-studio/pull/227 it seems like due to either
          # the upgrade of Webpack/Typescript that we start seeing some OOM when building Webpack
          # while publishing to Docker. We should once in a while remove this line and try again.
          NODE_OPTIONS: '--max_old_space_size=4096'
