name: Publish Docker Snapshot

on:
  push:
    branches:
      - master

jobs:
  publish-snapshot-docker-image:
    if: github.ref == 'refs/heads/master' && github.repository == 'finos/legend-studio'
    name: Publish Docker Image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: finos/legend-studio
            package: '@finos/legend-application-studio-deployment'
          - image: finos/legend-query
            package: '@finos/legend-application-query-deployment'
          - image: finos/legend-data-cube
            package: '@finos/legend-application-data-cube-deployment'
          - image: local/legend-showcase-server
            package: '@finos/legend-server-showcase-deployment'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - name: Setup Yarn cache
        uses: actions/cache@v4.2.0
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - name: Setup Node
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 21
      - name: Install dependencies
        run: yarn
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: finos
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish to Docker
        run: yarn build && yarn workspace ${{ matrix.package }} publish:docker snapshot
        env:
          # Webpack build could consume a large amount of memory
          NODE_OPTIONS: '--max-old-space-size=4096'
