name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.repository == 'finos/legend-studio' # prevent running this action in forks
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # fetch all Git history so that `changesets` can generate changelogs with the correct commits
          fetch-depth: 0
      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - name: Setup Yarn cache
        uses: actions/cache@v2.1.4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Setup Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - name: Install dependencies
        run: yarn
      - name: Create Release Pull Request or Publish to NPM
        id: changesets
        uses: changesets/action@master
        with:
          version: yarn version
          commit: 'chore: bump versions and release'
          title: 'New Release'
          # NOTE: right now the prepare publish content step would run for even
          # packages that might not get published, we can consider using NPM
          # `prepublish` script to narrow down the scope
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Login to Docker Hub
        if: steps.changesets.outputs.published == 'true'
        uses: docker/login-action@v1
        with:
          username: finos
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish to Docker
        # NOTE: we enforce this condition because publishing `legend-studio-app` should only be
        # attempted if other packages are published, to ensure it uses the latest tagged versions
        # for all of its dependencies instead of their snapshots.
        if: steps.changesets.outputs.published == 'true'
        run: yarn workspace @finos/legend-studio-app publish:docker
      - name: Upload publish content
        # If publish never happened, there's no point in uploading this content
        if: steps.changesets.outputs.published == 'true'
        uses: actions/upload-artifact@v2
        with:
          name: publish-content
          path: packages/*/build/publishContent/package.json
